.dice, .dice-second {
    width: 64px;
    height: 64px;
    background-color: white;
    border-radius: 16px;
    padding: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.dice-animation {
    animation: shake 0.4s cubic-bezier(.36,.07,.19,.97) both;
}

.dice-dot {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color:black;
}

.dice1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice2 {
    display: flex;
    justify-content : space-between;
}

.dice2 .dice-dot:nth-of-type(2) {
    align-self: flex-end;
}

.dice3 {
    display: flex;
    justify-content : space-between;
}

.dice3 .dice-dot:nth-of-type(2) {
    align-self: center;
}

.dice3 .dice-dot:nth-of-type(3) {
    align-self: flex-end;
}

.dice4, .dice5, .dice6 {
    display: flex;
    justify-content: space-between;
}

.dice4 .dot-column,.dice6 .dot-column, .dice5 .dot-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dice5 .dot-column:nth-of-type(2) {
    justify-content: center;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}