.pig-interface {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user-interface {
    display: flex;
    justify-content: center;
    width: 1024px;
    height: 500px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.33);
}

.player-controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.player-ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.34);
}

#player1 {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

#player2 {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.player-inactive {
    opacity: .5;
}

.player-winner {
    background: rgba(149, 250, 50, 0.7);
}

.total-score-ui, .current-score-ui {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.total-score {
    font-size: 40px;
}

.current-score-ui {
    justify-content: center;
    width: 200px;
    height: 150px;
    background-color: #5F72BEFF;
    border-radius: 16px;
    gap: 32px;
    margin-top: 80px;
}

.current-score {
    font-size: 30px;
}


