html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #ab60dc;
    background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
    text-shadow: 1px 1px 2px black;
}

body, input, button {
    font-family: 'Wellfleet', serif;
    color: white;
}

button {
    cursor: pointer;
    height: 50px;
    width: 150px;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: #8141a8;
    font-size: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    opacity: .8;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.hidden {
    display: none !important;
}